-- This script initializes the PostgreSQL database for the microservices by creating the needed roles and separate
-- databases for each domain as well as for Keycloak.

-- -- Environment variables used in this script:
-- PSQL_SHOPPING_CARTS_DB: Name of the ShoppingCarts database
-- PSQL_SHOPPING_CARTS_ROLE: Role for the ShoppingCarts database
-- PSQL_SHOPPING_CARTS_PASSWORD: Password for the ShoppingCarts role
-- PSQL_ORDERS_DB: Name of the Orders database
-- PSQL_ORDERS_ROLE: Role for the Orders database
-- PSQL_ORDERS_PASSWORD: Password for the Orders role
-- PSQL_CUSTOMER_PROFILES_DB: Name of the CustomerProfiles database
-- PSQL_CUSTOMER_PROFILES_ROLE: Role for the CustomerProfiles database
-- PSQL_CUSTOMER_PROFILES_PASSWORD: Password for the CustomerProfiles role
-- PSQL_KEYCLOAK_DB: Name of the Keycloak database
-- PSQL_KEYCLOAK_ROLE: Role for the Keycloak database
-- PSQL_KEYCLOAK_PASSWORD: Password for the Keycloak role   

-- The variables are expected to be set in the environment and then replaced in the template file using envsubst.

DROP DATABASE IF EXISTS $PSQL_SHOPPING_CARTS_DB;
CREATE ROLE $PSQL_SHOPPING_CARTS_ROLE WITH LOGIN PASSWORD '$PSQL_SHOPPING_CARTS_PASSWORD';
CREATE DATABASE $PSQL_SHOPPING_CARTS_DB OWNER $PSQL_SHOPPING_CARTS_ROLE;

DROP DATABASE IF EXISTS $PSQL_ORDERS_DB;
CREATE ROLE $PSQL_ORDERS_ROLE WITH LOGIN PASSWORD '$PSQL_ORDERS_PASSWORD';
CREATE DATABASE $PSQL_ORDERS_DB OWNER $PSQL_ORDERS_ROLE;

DROP DATABASE IF EXISTS $PSQL_CUSTOMER_PROFILES_DB;
CREATE ROLE $PSQL_CUSTOMER_PROFILES_ROLE WITH LOGIN PASSWORD '$PSQL_CUSTOMER_PROFILES_PASSWORD';
CREATE DATABASE $PSQL_CUSTOMER_PROFILES_DB OWNER $PSQL_CUSTOMER_PROFILES_ROLE;

DROP DATABASE IF EXISTS $PSQL_KEYCLOAK_DB;
CREATE ROLE $PSQL_KEYCLOAK_ROLE WITH LOGIN PASSWORD '$PSQL_KEYCLOAK_PASSWORD';        
CREATE DATABASE $PSQL_KEYCLOAK_DB OWNER $PSQL_KEYCLOAK_ROLE;