-- This script initializes the PostgreSQL database used by the order services

-- Environment variables used in this script:
-- PSQL_ORDERS_DB: Name of the Orders database
-- PSQL_ORDERS_ROLE: Role for the Orders database
-- PSQL_ORDERS_PASSWORD: Password for the Orders role

-- The variables are expected to be set in the environment and then replaced in the template file using envsubst.

------------------------
-- Intitialize Orders --
------------------------

DROP SCHEMA IF EXISTS orders CASCADE;
CREATE SCHEMA orders AUTHORIZATION $PSQL_ORDERS_ROLE;

SET search_path TO orders;

DROP TABLE IF EXISTS orders.EventLog;
CREATE TABLE orders.EventLog (
    eventid uuid not null,
    eventdomain varchar(255) not null,
    eventtype varchar(255) not null, 
    timeprocessed timestamp not null,
    primary key (eventid)
);

DROP TABLE IF EXISTS orders.OrderItem;
CREATE TABLE orders.OrderItem (
    id int not null,
    orderId uuid not null,
    lineNumber varchar(255),
    productId varchar(255),
    productName varchar(255),
    unitPrice numeric(19,2),
    quantity numeric(19),
    totalPrice numeric (19,2),
    itemStatus varchar(255),
    itemStatusDateTime timestamp,
    primary key (id)
);

DROP TABLE IF EXISTS orders.Contact;
CREATE TABLE orders.Contact (
    id int not null,
    orderId uuid not null,
    email varchar(255),
    firstName varchar(255),
    lastName varchar(255),
    phone varchar(255),
    primary key (id)
);

DROP TABLE IF EXISTS orders.Address;
CREATE TABLE orders.Address (
    id int not null,
    orderId uuid not null,
    addressType varchar(255),
    firstName varchar(255),
    lastName varchar(255),
    address_1 varchar(255),
    address_2 varchar(255),
    city varchar(255),
    state varchar(255),
    zip varchar(255),
    primary key (id)
);

DROP TABLE IF EXISTS orders.CreditCard;
CREATE TABLE orders.CreditCard (
    id int not null,
    orderId uuid not null,
    cardType varchar(255),
    cardNumber varchar(255),
    cardHolderName varchar(255),
    cardExpires varchar(255),
    cardCVV varchar(255),
    primary key (id)
);

DROP TABLE IF EXISTS orders.OrderStatus;
CREATE TABLE orders.OrderStatus (
    id int not null,
    orderId uuid not null,
    status varchar(255),
    statusDateTime timestamp,
    primary key (id)
);

DROP TABLE IF EXISTS orders.OrderHead;
CREATE TABLE orders.OrderHead (
    orderId uuid not null,
    cartId uuid not null,
    contactId int not null,
    creditCardId int not null,
    netPrice numeric(19,2),
    tax numeric(19,2),
    shipping numeric(19,2),
    totalPrice numeric(19,2),
    primary key (orderId)
);

-- One-to-one relationships

ALTER TABLE IF EXISTS orders.OrderHead
    ADD CONSTRAINT fk_contactId
        FOREIGN KEY (contactId)
            REFERENCES orders.Contact;

ALTER TABLE IF EXISTS orders.OrderHead
    ADD CONSTRAINT fk_creditCardId
        FOREIGN KEY (creditCardId)
            REFERENCES orders.CreditCard;

-- One-to-many relationships

ALTER TABLE IF EXISTS orders.OrderItem
    ADD CONSTRAINT fk_orderId
        FOREIGN KEY (orderId)
            REFERENCES orders.OrderHead;

ALTER TABLE IF EXISTS orders.Address
    ADD CONSTRAINT fk_orderId
        FOREIGN KEY (orderId)
            REFERENCES orders.OrderHead;

ALTER TABLE IF EXISTS orders.OrderStatus
    ADD CONSTRAINT fk_orderId
        FOREIGN KEY (orderId)
            REFERENCES orders.OrderHead;

DROP TABLE IF EXISTS orders.OutboxEvent;
CREATE TABLE orders.OutboxEvent (
    id uuid not null,
    aggregatetype varchar(255) not null,
    aggregateid varchar(255) not null,
    type varchar(255) not null,
    timestamp timestamp not null,
    payload varchar(7500),
    primary key (id)
);

SET search_path TO orders;
CREATE SEQUENCE hibernate_sequence START 1;

GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA orders TO $PSQL_ORDERS_ROLE;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA orders TO $PSQL_ORDERS_ROLE;

