-- This script initializes the PostgreSQL database used by the customerprofile services

-- Environment variables used in this script:
-- PSQL_CUSTOMER_PROFILES_DB: Name of the CustomerProfiles database
-- PSQL_CUSTOMER_PROFILES_ROLE: Role for the CustomerProfiles database
-- PSQL_CUSTOMER_PROFILES_PASSWORD: Password for the CustomerProfiles role

-- The variables are expected to be set in the environment and then replaced in the template file using envsubst.

---------------------------------
-- Intitialize CustomerProfile --
---------------------------------

DROP SCHEMA IF EXISTS customerprofiles CASCADE;
CREATE SCHEMA customerprofiles AUTHORIZATION $PSQL_CUSTOMER_PROFILES_ROLE;

SET search_path TO customerprofiles;

DROP TABLE IF EXISTS customerprofiles.EventLog;
CREATE TABLE customerprofiles.EventLog (
    eventid uuid not null,
    eventdomain varchar(255) not null,
    eventtype varchar(255) not null, 
    timeprocessed timestamp not null,
    primary key (eventid)
);

DROP TABLE IF EXISTS customerprofiles.Contact;
CREATE TABLE customerprofiles.Contact (
    id int not null,
    customerId uuid not null,
    email varchar(255),
    firstName varchar(255),
    lastName varchar(255),
    phone varchar(255),
    primary key (id)
);

DROP TABLE IF EXISTS customerprofiles.Address;
CREATE TABLE customerprofiles.Address (
    id int not null,
    customerId uuid not null,
    addressType varchar(255),
    firstName varchar(255),
    lastName varchar(255),
    address_1 varchar(255),
    address_2 varchar(255),
    city varchar(255),
    state varchar(255),
    zip varchar(255),
    isDefault boolean,
    primary key (id)
);

DROP TABLE IF EXISTS customerprofiles.CreditCard;
CREATE TABLE customerprofiles.CreditCard (
    id int not null,
    customerId uuid not null,
    cardType varchar(255),
    cardNumber varchar(255),
    cardHolderName varchar(255),
    cardExpires varchar(255),
    cardCVV varchar(255),
    isDefault boolean,
    primary key (id)
);

DROP TABLE IF EXISTS customerprofiles.CustomerStatus;
CREATE TABLE customerprofiles.CustomerStatus (
    id int not null,
    customerId uuid not null,
    status varchar(255),
    statusDateTime timestamp,
    primary key (id)
);

DROP TABLE IF EXISTS customerprofiles.CustomerProfile;
CREATE TABLE customerprofiles.CustomerProfile (
    customerId uuid not null,
    username varchar(255) not null,
    contactId int not null,
    primary key (customerId)
);

-- One-to-one relationships

ALTER TABLE IF EXISTS customerprofiles.CustomerProfile
    ADD CONSTRAINT fk_contactId
        FOREIGN KEY (contactId)
            REFERENCES customerprofiles.Contact;

-- One-to-many relationships

ALTER TABLE IF EXISTS customerprofiles.CreditCard
    ADD CONSTRAINT fk_customerId
        FOREIGN KEY (customerId)
            REFERENCES customerprofiles.CustomerProfile;

ALTER TABLE IF EXISTS customerprofiles.Address
    ADD CONSTRAINT fk_customerId
        FOREIGN KEY (customerId)
            REFERENCES customerprofiles.CustomerProfile;

ALTER TABLE IF EXISTS customerprofiles.CustomerStatus
    ADD CONSTRAINT fk_customerId
        FOREIGN KEY (customerId)
            REFERENCES customerprofiles.CustomerProfile;

DROP TABLE IF EXISTS customerprofiles.OutboxEvent;
CREATE TABLE customerprofiles.OutboxEvent (
    id uuid not null,
    aggregatetype varchar(255) not null,
    aggregateid varchar(255) not null,
    type varchar(255) not null,
    timestamp timestamp not null,
    payload varchar(7500),
    primary key (id)
);

SET search_path TO customerprofiles;
CREATE SEQUENCE hibernate_sequence START 1;

GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA customerprofiles TO $PSQL_CUSTOMER_PROFILES_ROLE;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA customerprofiles TO $PSQL_CUSTOMER_PROFILES_ROLE;
